In [22]:
import sqlite3
con = sqlite3.connect('./test_db')

In [23]:
cur = con.cursor()

for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)
        for column in row:
            print(column)

(1, 'changed_name', 10.5)
1
1
changed_name
10.5
changed_name
1
changed_name
10.5
10.5
1
changed_name
10.5
(3, 'c_update', 3.14)
3
3
c_update
3.14
c_update
3
c_update
3.14
3.14
3
c_update
3.14
(100, 'name', 99.9)
100
100
name
99.9
name
100
name
99.9
99.9
100
name
99.9

In [ ]:
cur.execute('ALTER TABLE human ALTER COLUMN name text')

In [34]:
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'
insert_param = (100, 'name_z', 99.9)
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [38]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'changed_name', 10.5), (100, 'name', 99.9)]

In [27]:
cur.execute('UPDATE person SET name = :name WHERE id = 1', {'name':'changed_name'})
print(cur.fetchall())

[]

In [37]:
cur.execute('DELETE FROM person WHERE id = :id', {'id':10})

In [40]:
con.close()
#cur.execute('SELECT * FROM person WHERR size > :size',{'size':10})